* {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

.height100 {
  height: 87vh
}

.position-absolute {
  position: absolute;
  top: 30%;
  left: 5%;
}

.position-absolute-right {
  position: absolute;
  top: 30%;
  right: 15%;
}

.title {
  font-family: cursive;
  font-size: 40px;
  font-weight: 800;
}

.subtitle {
  font-family: cursive;
  font-size: 25px;
  font-weight: 800;
}

.width-text {
  max-width: 420px;
}

.width-login {
  width: 450px;
}

.position {
  position: absolute;
  top: 35px;
  right: 30px;
  border: 1px solid rgb(175, 171, 171);
  border-radius: 8px 0 8px 8px;
  padding: 10px;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: none;
  color: rgba(67, 66, 66, 0.762);
}

.box-home {
  border-radius: 8px;
  border: 1px solid rgb(92, 92, 206);
  margin: 10px;
  margin-top: 15px;
  padding: 10px;
  min-width: 258px;
}
.box-home:hover {
  background: rgb(237, 237, 238);
  cursor: pointer;
  border: 1px solid rgb(104, 102, 102);
}

.number-users {
  font-size: 25px;
  font-weight: 800;
  color: rgb(124, 122, 122);
  margin-left: 100px;
}